<h2>Rogus</h2>

<div class="icon">
  <%= link_to :controller => "departamentos", :action => "index" do %>
  	<%= image_tag "department.png" %>
  	Departamentos
  	<% end %>
</div>

<div class="icon">
  <%= link_to :controller => "funcionarios", :action => "index" do %>
  	<%= image_tag "employee.png" %>
  	Funcionários
  <% end %>
</div>

<div class="icon">
  <%= link_to :controller => "funcionarios", :action => "email" do %>
  	<%= image_tag "email.png" %>
  	Envio de email
  <% end %>
</div>